<!--
 Copyright (c) 2021 Eclipse Foundation, OW2, OpenForum Europe and others 
  
 This website and the accompanying materials are made available under the
 terms of the Creative Commons Attribution 4.0 (International) License which
 is available at https://creativecommons.org/licenses/by/4.0/.
 
 SPDX-License-Identifier: CC-BY-4.0
-->
<div class="container section-home-launched text-center" id="launched-by">
	<div class="ospo-zone-members">
		<h2 id="members">Founders</h2>
		<ul class="text-center list-inline">
			<li>
				<a href="https://www.eclipse.org/">
					<img src="{{ "images/partner-logos/eclipse_foundation_logo.png" | absURL}}" alt="Eclipse Foundation logo" class="members-img" /></a>
			</li>
			<li>
				<a href="https://publiccode.net/">
					<img src="{{ "images/partner-logos/foundation-for-public-code.svg" | absURL}}" alt="Foundation for Public Code logo" class="members-img" /></a>
			</li>
			<li>
				<a href="https://openforumeurope.org/">
					<img src="{{ "images/partner-logos/ofe-logo.png" | absURL}}" alt="OpenForum Europe logo" class="members-img" /></a>
			</li>
			<li>
				<a href="https://www.ow2.org/">
					<img src="{{ "images/partner-logos/ow2-logo.png" | absURL}}" alt="OW2 logo" class="members-img" /></a>
			</li>
		</ul>
	</div>
</div>