<!--
 Copyright (c) 2021 Eclipse Foundation, OW2, OpenForum Europe and others 
  
 This website and the accompanying materials are made available under the
 terms of the Creative Commons Attribution 4.0 (International) License which
 is available at https://creativecommons.org/licenses/by/4.0/.
 
 SPDX-License-Identifier: CC-BY-4.0
-->
<section class="{{- .Params.footer_section_legal_class | default .Site.Params.footer_section_legal_class | default "col-sm-24 hidden-print text-center"}}" id="footer-legal">
  <ul class="nav">
    <li><a href="/about">About Us</a></li>
    <li><a href="https://www.eclipse.org/legal/privacy.php">{{ i18n "footer-legal-privacy-policy-text" }}</a></li>
    <li><a href="https://www.eclipse.org/legal/termsofuse.php">{{ i18n "footer-legal-terms-use-text" }}</a></li>
    <li><a href="https://www.eclipse.org/legal/copyright.php">{{ i18n "footer-legal-copyright-agent-text" }}</a></li>
    <li><a href="https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php">Code Of Conduct</a></li>
  </ul>
</section>
